HTML {
  background: #e1e1e1;
}
body {
  overscroll-behavior: none;
}
.container {
  width: 80vw;
  height: 80vh;
  margin: auto;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.left {
  width: 50%;
  height: 97%;
  background: #e1e1e1 ;
  background: linear-gradient(-44deg, #578fbe 48%, #727274 49%, #e1e1e1 50%);
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  align-items: flex-end;
  justify-content: flex-end;
  color: white;
  font-size: 4vmax;
  letter-spacing: 10px;
}
.dundler {
  width: 80%;
  height: 10%;
  background: #0452a5;
  text-align: right;
}
.mifflin {
  width: 80%;
  height: 10%;
  background: #0452a5;
  flex-direction: row;
  align-content: flex-end;
  align-items: flex-end;
  justify-content: flex-end;
  color: white;
 font-size: 4vmax;
 letter-spacing: 10px;
 margin-top: 60%;
}
.inc {
 width: 10%;
 transform: rotate(90deg);
 margin-left: 72%;
 color: white;
 font-size: 1.5vmax;
 letter-spacing: 0px;
 background: #0452a5;
}

.right {
  width: 50%;
  height: 97%;
  background: #e1e1e1 ;
  background: linear-gradient(44deg, #578fbe 48%, #000000 49%, #e1e1e1 50%);
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-end;
}
.leftBottom{
  width: 50%;
  height: 3%;
  background: #000000 ;
  background: linear-gradient(90deg,#aeaeae 1%, #727274 2%, #000000 100%);
  box-shadow: 10px 5px 5px black;
  opacity: .9;
  border-bottom-left-radius: 120px;
  border-top-left-radius: 120px;
}
.rightBottom{
  width: 50%;
  height: 3%;
  background: #000000 ;
  background: linear-gradient(90deg, #000000 98%, #909090 100%);
  box-shadow: 10px 5px 5px black;
  opacity: .9;
  border-bottom-right-radius: 120px;
  border-top-right-radius: 120px;
}
