HTML {
  background: #e1e1e1;
}
body {
  overscroll-behavior: none;
}
.container {
  width: 80vw;
  height: 80vh;
  background: black;
  margin: auto;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.left {
  width: 50%;
  height: 70%;
  background: white;
}
.right {
  width: 50%;
  height: 70%;
  background: lavenderblush;
}
.bottom{
  width: 100%;
  height: 30%;
  background: lightcyan;
}
